# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
    
* The list of the popular languages that Data Scientists uses.
* The list of commonly used libraries.
* The list of Datascience tools.

# Some of the popular languages that Data Scientists use are:

   1. Python
   2. R
   3. SQL
   4. Java
   5. Julia
   6. C/C++

Some of the commonly used libraries used by Data Scientists include:

 1. Numpy
 2. Pandas
 3. Keras
 4. PyTorch
 5. TensorFlow

| Data Science Tools |
|--------------------|
| R Studio           |
| Apache Spark       |
| Tensor Flow        |

| Data Science Tools |
|--------------------|
| R Studio           |
| Apache Spark       |
| Tensor Flow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers.

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60
print(hours)

3

## Author

Anu